<!--<h1>Listing posts</h1>
<h1>Hello, Rails!</h1>

<%= link_to 'New Post', new_post_path %> 

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
    </tr>
  <% end %>
</table>-->
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
  </tr>
 
<% @posts.each do |post| %>
  <tr>
    <td><%= post.id %></td>
    <td><%= post.title %></td>
    <td><%= post.text %></td>
    <td><%= link_to 'Show', post %></td> <!--post means default action: 'post_path(post), method: :get'?-->
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }%></td>
  </tr>
<% end %>

</table>

<%= link_to 'Add Post', new_post_path %>


